
{% load threadedcommentstags %}
{% get_free_threaded_comment_form as form %}
<form method="post" action="{% get_free_comment_url object %}" id="comment-form">
    <p><label for="id_comment">Comment</label>{{ form.comment }}</p>
    <p><label for="id_name">Name</label>{{ form.name }}</p>
    <p><label for="id_email">Email</label>{{ form.email }}</p>
    <p><label for="id_website">Website</label>{{ form.website }}</p>
    <input type="submit" name="preview" value="Preview" />
    <input type="submit" name="post" value="Post" />
</form>