{% load threadedcommentstags %}

{% if comment %}
{% load gravatar %}
{% get_gravatar_url for comment.email as gravatar %}
<div id="comment_preview">
<h2>Here's what your comment will look like:</h2>
<div class="comment">
<p>{% if comment.website %}<a href="{{ comment.website }}">{% endif %}<img src="{{ comment.email|gravatar }}" alt="Gravatar for {{ comment.name }}" />{% if comment.website %}</a>{% endif %}{% if comment.website %}<a href="{{ comment.website }}">{% endif %}{{ comment.name }}{% if comment.website %}</a>{% endif %}</p>
{% auto_transform_markup comment %}
</div>
</div>
{% endif %}

{% if form.errors %}
<p>Slow down, Tiger! There was an error with your comment submission...</p>
{% endif %}
<form method="post" action="">
<p>{{ form.name.label_tag }}{{ form.name }}{% if form.name.errors %}{{ form.name.errors }}{% endif %}</p>
<p>{{ form.email.label_tag }}{{ form.email }}{% if form.email.errors %}{{ form.email.errors }}{% endif %}</p>
<p>{{ form.website.label_tag }}{{ form.website }}{% if form.website.errors %}{{ form.website.errors }}{% endif %}</p>
<p>{{ form.comment.label_tag }}{{ form.comment }}{% if form.comment.errors %}{{ form.comment.errors }}{% endif %}</p>
<input type="submit" name="preview" value="Preview" />
<input type="submit" name="post" value="Post" />
<input type="hidden" name="next" value="{{ next }}" />
</form>