{% extends "twitter/base.html" %}
{% block title %}Twitter Tweets: {{ month|date:"F, Y" }}{% endblock %}
{% block description %}Twitter tweets made in {{ month|date:"F, Y" }}{% endblock %}
{% block breadcrumb %}
{{ block.super }}
    <li><a href="{% url tweet_archive_year year=month|date:"Y" %}" title="View tweets made in {{ month|date:"Y" }}">{{ month|date:"Y" }}</a></li>
    <li><a href="{% url tweet_archive_month year=month|date:"Y", month=month|date:"m" %}" title="View tweets made in {{ month|date:"F, Y" }}">{{ month|date:"m" }}</a></li>
{% endblock %}
{% load custom_tags %}
{% load threadedcommentstags %}

{% block content %}
<h2>Twitter tweets for {{  month|date:"F Y" }} ({{ object_list.count }})</h2>
<div id="year-archive">
{% for tweet in object_list %}
{% get_free_comment_count for tweet as comments %}
{% autoescape off %}
<div class="entry tweet">
    <p class="meta"><a href="{% url tweet_home %}">Tweet</a> <span class="date">{{ tweet.pub_time|date:"M d Y \a\t g:i a" }}</span> <span class="comments"><a href="{{ tweet.get_absolute_url }}#comments">{{ comments }} comment{{ comments|pluralize}}</a></span></p>    
    <h2>{{ tweet.text|twitter_links }}</h2>
    <p class="visit"><a href="{{ tweet.url }}">View</a></p>
</div>
{% endautoescape %}
{% endfor %}
</div>
{% endblock %}