<div id="feeds">
<h3>For your consumption</h3>
<p><abbr title="Realy Simple Syndication">RSS</abbr> feeds are available for:</p>
<ul>
    <li><a href="/feeds/blog/">blog posts</a></li>
    <li><a href="/feeds/links/">links</a></li>
    <li><a href="/feeds/photos/">photos</a></li>
    <li><a href="/feeds/videos/">videos</a></li>
    <li><a href="/feeds/quotes/">quotes</a></li>
    <li><a href="/feeds/tweets/">tweets</a></li>
    <li><a href="/feeds/activity/">everything (minus blog posts) combined</a></li>
</ul>
</div>