{% extends "tumblelog/base.html" %}
{% block breadcrumb %}
{{ block.super }}
<li><a href="{% url tumblelog_archive_year year=year %}">{{ year }}</a></li>
<li><a href="{% url tumblelog_archive_year year=year,month=month %}">{{ month }}</a></li>
<li><a href="{% url tumblelog_archive_year year=year,month=month,day=day %}">{{ day }}</a></li>
{% endblock %}
{% block content %}

{% for m in entries.values %}
    {% if m.content %}
        <h3><a href="{% url tumblelog_archive_day year=year,month=m.month %}">{{ m.name }}</a></h3>
        {% if m.links %}
            {% for link in m.links %}
            <h2><a href="{{ link.get_content_object.get_absolute_url }}">{{ link.get_content_object.description }}</a></h2>
            {% endfor %}
        {% endif %}
        {% if m.tweets %}
        Tweets: {{ m.tweets.count }}
        {% endif %}
        {% if m.photos %}
        Photos: {{ m.photos.count }}
        {% endif %}
        {% if m.videos %}
        Videos: {{ m.videos.count }}
        {% endif %}
    {% endif %}
{% endfor %}

{% endblock %}