{% extends "tumblelog/base.html" %}

{% block content %}
<h2>{{ showing_date|date:"F Y"}}: {{ entries.count }} tumblelog items</h2>
{% regroup entries by pub_date|date:"F" as month_list %}

{% for month in month_list %}
    
{% regroup month.list by pub_date|date:"l, F jS" as day_list %}

{% for day in day_list %}
{% regroup day.list|dictsort:"content_type.name" by content_type as type_list %}
    {% spaceless %}
    {% for item in day.list|slice:"1" %}
    {% if forloop.first %}
    <h2><a href="{% url tumblelog_archive_day year=item.pub_date|date:"Y",month=item.pub_date|date:"m",day=item.pub_date|date:"d" %}">{{ day.grouper }}</a></h2>
    {% endif %}
    {% endfor %}
    {% endspaceless %}
    <p>{% for type in type_list %}{{ type.list|length }} {{ type.grouper.name }}s{% if not forloop.last %}, {% endif %}{% endfor %}</p>
{% endfor %}

{% endfor %}

{% endblock %}