{% extends "tumblelog/base.html" %}
{% block body_class %}tumblelog month_group{% endblock %}
{% block title %}Tumblelog archive for {{ showing_date|date:"F, Y" }}{% endblock %}
{% block breadcrumb %}
<li><a href="{% url tumblelog_home %}" title="Back to Tumblelog">Tumblelog</a></li>
<li><a href="{% url tumblelog_archive_year year=showing_date|date:"Y" %}" title="Archive for {{ showing_date|date:"Y" }}">{{ showing_date|date:"Y" }}</a></li>
<li class="last"><a href="{% url tumblelog_archive_year year=showing_date|date:"Y",month=showing_date|date:"m" %}" title="Archive for {{ showing_date|date:"F Y" }}">{{ showing_date|date:"m" }}</a></li>
{% endblock %}
{% block content %}
<h2>Online activity for {{ showing_date|date:"F, Y" }}</h2>

<div id="tumblelog-archive" class="month">
{% regroup entries by pub_date|date:"F" as month_list %}
{% for month in month_list %}
{% regroup month.list by pub_date|date:"l, F jS" as day_list %}

{% for day in day_list %}
{% regroup day.list|dictsort:"content_type.name" by content_type as type_list %}
    {% spaceless %}
    {% for item in day.list|slice:"1" %}
    {% if forloop.first %}
    <h3><a href="{% url tumblelog_archive_day year=item.pub_date|date:"Y",month=item.pub_date|date:"m",day=item.pub_date|date:"d" %}">{{ day.grouper }}</a></h3>
    {% endif %}
    {% endfor %}
    {% endspaceless %}
    <p>{% for type in type_list %}{{ type.list|length }} {{ type.grouper.name }}s{% if not forloop.last %}, {% endif %}{% endfor %}</p>
{% endfor %}

{% endfor %}

</div>
{% endblock %}


{% block sidebarcontent %}

<div id="archive-{{ showing_date|date:"Ym" }}">
<p>This chart shows all days in <strong>{{ showing_date|date:"F, Y" }}</strong> that I did something online, with the number of tumblelog entries made on each day as a percentage of <strong>{{ entries.count }}</strong> total entries for the month.</p>
<p>You can view the details of a given day by clicking either the date below, or to the left.</p>
<ul class="chart">
{% regroup entries by pub_date|date:"F" as month_list %}
{% for month in month_list %}
{% regroup month.list by pub_date|date:"jS" as day_list %}
{% for day in day_list %}
    <li><a href="{% for item in day.list|slice:"1" %}{% if forloop.first %}{% url tumblelog_archive_day year=showing_date|date:"Y",month=showing_date|date:"m",day=item.pub_date|date:"d" %}{% endif %}{% endfor %}" title="View content for {{ showing_date|date:"F"}} {{ day.grouper }}, {{ showing_date|date:"Y" }}">{{ day.grouper }}</a><span class="count">{{ day.list|length }}</span><span style="width: {% widthratio day.list|length entries.count 490 %}px" class="index">{% widthratio day.list|length entries.count 100 %}%</span></li>
{% endfor %}
{% endfor %}
</ul>
</div>

{% include "tumblelog/archive_year_list.html" %}

{% endblock %}