{% load custom_tags %}
{% load threadedcommentstags %}
{% load typogrify %}
{% get_free_comment_count for item.get_content_object as comments %}
{% autoescape off %}
{% comment %}
{% ifequal item.content_type.name "article" %}
<div class="entry article">
    <p class="meta"><a href="{% url blog_home %}">Post</a> <span class="date">{{ item.pub_date|date:"M d Y \a\t g:i a" }}</span> <span class="comments"><a href="{{ item.get_content_object.get_absolute_url }}#comments">{{ comments }} comment{{ comments|pluralize}}</a></span></p>    
    <h2><a href="{{ item.get_content_object.get_absolute_url }}">{{ item.get_content_object.headline }}</a></h2>
    {% if item.get_content_object.teaser %}
    <div class="teaser">
    {{ item.get_content_object.html_teaser }}
    </div>
    {% endif %}
    <p><a href="{{ item.get_content_object.get_absolute_url }}">Continue reading...</a></p>
</div>
{% endifequal %}
{% endcomment %}
{% ifequal item.content_type.name "bookmark" %}
<div class="entry link">
    <p class="meta"><a href="{% url bookmark_home %}">Link</a> <span class="date">{% utc_to_settings item.pub_date %}</span> <span class="comments"><a href="{{ item.get_content_object.get_absolute_url }}#comments">{{ comments }} comment{{ comments|pluralize}}</a></span></p>
    <h2><a href="{{ item.get_content_object.get_absolute_url }}">{% autoescape off %}{{ item.get_content_object.description|typogrify }}{% endautoescape %}</a></h2>
    {% if item.get_content_object.extended_info %}
    <p>{% autoescape off %}{{ item.get_content_object.extended_info|typogrify }}{% endautoescape %}</p>
    {% endif %}
    <p class="visit"><a href="{{ item.get_content_object.url }}">Visit</a></p>
</div>
{% endifequal %}
{% ifequal item.content_type.name "video" %}
<div class="entry video clearfix">
    <p class="meta"><a href="{% url video_home %}">Video</a> <span class="date">{% long_date item.pub_date %}</span> <span class="comments"><a href="{{ item.get_content_object.get_absolute_url }}#comments">{{ comments }} comment{{ comments|pluralize}}</a></span></p> 
    {% if item.get_content_object.youtube_small_image %}
    <a href="{{ item.get_content_object.get_absolute_url }}"><img src="{{ item.get_content_object.youtube_small_image }}" width="120" height="90" /></a>
    {% endif %}
    <h2><a href="{{ item.get_content_object.get_absolute_url }}">{{ item.get_content_object.title }}</a></h2>
    {% if item.get_content_object.html_description %}{% autoescape off %}{{ item.get_content_object.html_description }}{% endautoescape %}{% endif %}
</div>
{% endifequal %}
{% ifequal item.content_type.name "photo" %}
<div class="entry photo">
    <p class="meta"><a href="{% url photo_home %}">Photo</a> <span class="date">{% long_date item.pub_date %}</span> <span class="comments"><a href="{{ item.get_content_object.get_absolute_url }}#comments">{{ comments }} comment{{ comments|pluralize}}</a></span></p>
    <p class="photo"><a href="{{ item.get_content_object.get_absolute_url }}" style="background-image: url({{ item.get_content_object.medium_url }}); background-repeat: no-repeat;" title="{{ item.get_content_object.title }}">{% autoescape off %}{{ item.get_content_object.title|typogrify }}{% endautoescape %}</a></p>
</div>
{% endifequal %}
{% ifequal item.content_type.name "tweet" %}
<div class="entry tweet">
    <p class="meta"><a href="{% url tweet_home %}">Tweet</a> <span class="date">{% utc_to_settings item.pub_date %}</span> <span class="comments"><a href="{{ item.get_content_object.get_absolute_url }}#comments">{{ comments }} comment{{ comments|pluralize}}</a></span></p>    
    <h2>{% autoescape off %}{{ item.get_content_object.text|twitter_links|typogrify }}{% endautoescape %}</h2>
    <p class="visit"><a href="{{ item.get_content_object.url }}">View</a></p>
</div>
{% endifequal %}
{% endautoescape %}