{% extends "video/base.html" %}
{% load custom_tags %}
{% block title %}Videos: {{ object.description }}{% endblock %}
{% block body_class %}detail video{% endblock %}
{% block breadcrumb %}
{{ block.super }}
    <li><a href="{% url video_archive_year year=object.pub_date|date:"Y" %}" title="View all videos from {{ object.pub_date|date:"Y" }}">{{ object.pub_date|date:"Y"}}</a></li>
    <li><a href="{% url video_archive_month year=object.pub_date|date:"Y",month=object.pub_date|date:"m" %}"  title="View all videos from {{ object.pub_date|date:"F Y" }}">{{ object.pub_date|date:"m"}}</a></li>
    <li><a href="{% url video_archive_day year=object.pub_date|date:"Y",month=object.pub_date|date:"m",day=object.pub_date|date:"d" %}"  title="View all videos from {{ object.pub_date|date:"F d, Y" }}">{{ object.pub_date|date:"d"}}</a></li>
{% endblock %}

{% block content %}
<div id="video-detail" class="detail">
<p class="meta date">{% date_format object.pub_date %}</p>
<h2>{{ object.title }}</h2>
{% if object.embed_code %}
<div id="video-embed">
{% autoescape off %}{{ object.embed_code }}{% endautoescape %}
</div>
<p>Source: <a href="{{ object.source.url }}">{{ object.source }}</a></p>
{% else %}
<p><a href="{{ object.url }}">View it on {{ object.source }}</a></p>
{% endif %}
{% if object.description %}
{% autoescape off %}
{{ object.html_description }}
{% endautoescape %}
{% endif %}
{% if object.commentary %}
<div id="video-commentary">
{% autoescape off %}
{{ object.html_commentary }}
{% endautoescape %}
</div>
{% endif %}
{% if object.videos.all %}
<div id="related-content">
<h3>Related Videos</h3>
<ul>
    {% for video in object.videos.all %}
    <li><a href="{{ video.get_absolute_url }}" title="Watch this video">{{ video.title }}</a></li>
    {% endfor %}
</ul>
</div>
{% endif %}
</div>

{% include "tag/tags_for_object.html" %}
{% include "threadedcomments/comments_list.html" %}

{% endblock %}