{% extends "video/base.html" %}
{% block title %}Videos: {{ year }}{% endblock %}
{% block description %}Videos saved in {{ year }}{% endblock %}
{% block breadcrumb %}
{{ block.super }}
    <li><a href="{% url video_archive_year year=year %}" title="View all videos saved in {{ year }}">{{ year }}</a></li>
{% endblock %}
{% load custom_tags %}
{% load threadedcommentstags %}

{% block content %}
<h2>Videos saved in {{ year }} ({{ object_list.count }}) <a href="{% url tumblelog_archive_year year=year %}" class="visit" title="View all online activity for {{ year }}">More</a></h2>
<div id="year-archive">
{% for video in object_list %}
<div class="entry video clearfix">
<p class="meta"><span class="date">{% long_date video.pub_date %}</span> <span class="comments"><a href="{{ video.get_absolute_url }}#comments">{{ comments }} comment{{ comments|pluralize}}</a></span></p>
{% comment %}
{% if video.youtube_small_image %}
<a href="{{ video.get_absolute_url }}"><img src="{{ video.youtube_small_image }}" width="120" height="90" /></a>
{% endif %}
{% endcomment %}
<h2><a href="{{ video.get_absolute_url }}">{{ video.title }}</a></h2>
<div class="video-embed">
{% spaceless %}
{% autoescape off %}{{ video.embed_code }}{% endautoescape %}
{% endspaceless %}
</div>
{% if video.html_description %}{% autoescape off %}{{ video.html_description }}{% endautoescape %}{% endif %}
</div>
{% endfor %}

</div>
{% endblock %}