{% extends "blog/base.html" %}
{% block title %}Blog: {{ object.headline }}{% endblock %}

{% block content %}

<h2>{{ object.headline }}</h2>
<p>{{ object.last_modified|date:"F DS Y" }} in {% for category in article.categories.all %}<a href="{% url blog_category_detail category.slug %}">{{ category }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</a></p>

{% autoescape off %}
<div class="entry">
{{ object.html_body }}
</div>
{% endautoescape %}

{% include "tag/tags_for_object.html" %}
{% include "threadedcomments/comments_list.html" %}

{% endblock %}