<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en-ca">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="robots" content="follow" />
    <meta name="author" content="Greg MacGregor"/>
    <meta name="description" content="{% block description %}{{ value|default:"rewinder.ca is the place that Toronto-based WebMaker Greg MacGregor calls home" }}{% endblock %}"/>
    <title>rewinder.ca ~ {% block title %}{{ value|default_if_none:"This is the place that Toronto-based WebMaker Greg MacGregor calls home"}}{% endblock %}</title>
    <link rel="openid.server" href="http://openid.claimid.com/server" />
    <link rel="openid.delegate" href="http://openid.claimid.com/rewinder" />
    <link rel="author" href="/about/" />
    <link rel="top start" href="/" title="rewinder.ca" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/base.css" type="text/css" media="screen" />
    <!--[if lte IE 7]><link rel="stylesheet" href="{{ MEDIA_URL }}css/ie.css" type="text/css" media="screen, projection" /><![endif]-->
    {% block extrahead %}{% endblock %}
</head>

<body class="{% block body_class %}{{ value|default_if_none:""}}{% endblock %}">
<div id="wrapper">
<h1><a href="{% url homepage %}" title="Back to homepage">rewinder</a></h1>
<div id="nav">
<ul>
    <li><a href="{% url homepage %}" title="Back to homepage">Home</a></li>
    <li><a href="{% url tumblelog_home %}" title="View my online activity">Tumblelog</a></li>
    <li><a href="{% url blog_home %}" title="Go to the blog" class="last">Blog</a></li>
</ul>
<ul>
    <li><a href="{% url bookmark_home %}" title="View all links">Links</a></li>
    <li><a href="{% url photo_home %}" title="View all photos">Photos</a></li>
    <li><a href="{% url video_home %}"title="View all videos" class="last">Videos</a></li>
</ul>
<ul>
    <li><a href="{% url tweet_home %}" title="View all twittertweets">Tweets</a></li>
    <li><a href="{% url tags_list %}" title="View all tags">Tags</a></li>
    <li><a href="{% url about %}" title="Read about me/contact me" class="last">About/Contact</a></li>
</ul>
</div><!-- /#nav -->

{% spaceless %}
<div id="breadcrumb" class="clearfix">
<ul>
{% block breadcrumb %}{% endblock %}
</ul>
</div>
{% endspaceless %}

<div id="main-content">
{% block content %}{% endblock %}
</div><!-- /#main-content -->

{% block sidebar %}
<div id="sidebar">
{% block sidebarcontent %}{% endblock %}
</div><!-- /#sidebar -->
{% endblock %}

<div id="footer">
{% block footer %}
<p><a href="{% url homepage %}">rewinder.ca</a> is copyright 2006-{% now "Y" %} by Greg MacGregor</p>
{% endblock %}
</div><!-- /#footer -->
</div><!-- /#wrapper -->
</body>
</html>
