<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="robots" content="follow" />	
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>	
	<title>rewinder.ca ~ This is the place that Toronto-based WebMaker Greg MacGregor calls home</title>
	<link rel="openid.server" href="http://openid.claimid.com/server"/>
	<link rel="openid.delegate" href="http://openid.claimid.com/rewinder"/>
	<meta name="author" rel="me" content="Greg MacGregor"/>
	<meta name="description" content="rewinder.ca is the most awesome website ever created."/>
	<style type="text/css" media="screen">
		* {
			margin: 0;
			padding: 0;
		}
		body {
			background: url(bg.jpg) no-repeat top left;
		}
	</style>
</head>

<body>

</body>
</html>
