{% extends "base.html" %}
{% block breadcrumb %}<li>10 latest additions to the Tumblelog</li>{% endblock %}
{% block body_class %}home{% endblock %}
{% load custom_tags %}

{% block content %}
{% get_latest tumblelog.TumblelogItem 10 as logs %}
<div id="tumblelog">
{% for item in logs %}
    {% include "tumblelog/tumblelogitem.html" %}
{% endfor %}
</div><!-- /#tumblelog -->
{% endblock %}

{% block sidebarcontent %}
{% get_random_photo as photo related_photos %}
<div id="random-photo">
<h3>Random Photo</h3>
<p><a href="{{ photo.get_absolute_url }}" title="View details and comment on this photo"><img src="{{ photo.medium_url }}"></a></p>
<h2><a href="{{ photo.get_absolute_url }}" title="View details and comment on this photo">{{ photo.title }}</a></h2>
{% if related_photos %}
<h3>Related Photos</h3>
{% for related in related_photos %}
<div class="thumbnail{% if forloop.last %} last{% endif %}"><a href="{{ related.get_absolute_url }}" title="View larger size of this photo"><img src="{{ related.square_url }}" width="75" height="75" alt="{{ related.title }}"></a></div>
{% endfor %}
{% endif %}
</div>

{% get_latest_posts 3 as latest_posts %}
{% for post in latest_posts %}
{% autoescape off %}
<h2><a href="{{ post.get_absolute_url }}">{{ post.headline }}</a></h2>
{% if post.teaser %}{{ post.html_teaser }}{% endif %}
{% endautoescape %}
{% endfor %}
{% endblock %}