body {
    font-size: 0.8em;
    font-family: "Helvetica Neue", Helvetica;
}
#comment-form label {
    display: block;
    font-weight: bold;
}
#comment-form p {
    margin: 0;
}
#comment-form textarea {
    float: left;
    width: 350px;
    height: 200px;
    margin-right: 1em;
}
#comment-form input[type="text"] {
    margin-bottom: 1em;
}
