@import url("reset.css");
@import url("tumblelog.css");
@import url("photo.css");

body {
    font-size: 0.8em;
    line-height: 1.2em;
    color: #333434;
    font-family: Helvetica, Arial, sans-serif;
}
a {
    text-decoration: none;
    color: #145479;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
    color: #ab0b31;
}
h2 {
    color: #333;
    line-height: 1.2em;
    font-size: 1.3em;
    font-weight: normal;
    margin-bottom: 0em;
}
h2 a {
    font-weight: normal;
}
#wrapper {
    width: 1000px;
    margin: 1em 0 0 1em;
    padding: 0 0 2em 0;
    overflow: auto;
}
#nav {
    width: 490px;
    float: right;
    margin-bottom: 10px;
}
#nav ul {
    text-align: right;
    width: 160px;
    float: left;
    margin-right: 5px;
}
#nav ul.last {
    margin-right: 0;
}
#nav ul li a {
    display: block;
    width: 156px;
    padding: 2px;
    border-bottom: 1px solid #ccc;
    color: #000;
}
#nav ul li a:hover {
    background-color: #145479;
    color: #fff;
    text-decoration: none;
}
#main-content,
#sidebar {
    padding-top: 1em;
    float: left;
}
#main-content {
    min-height: 50em;
    width: 489px;
    padding: 10px 10px 0 0;
    border-right: 1px solid #ccc;
}
#sidebar {
    width: 490px;
    padding-left: 10px;
}
.detail h2 {
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #ccc;
}
.detail p {
    margin-bottom: 0.5em;
}
/* ----------------------------------------------------------------- breadcrumb */

#breadcrumb {
    clear: right;
    border-top: 1px solid #000;
    border-bottom: 1px solid #ccc;
    overflow: auto;
    font-weight: bold;
    background-color: #e6e6e6;
}
#breadcrumb li {
    background-color: #fff;
    display: block;
    float: left;
    border-right: 1px solid #ccc;
    padding: 5px 7px 6px 5px;
}
#breadcrumb li.first {
    padding-left: 0;
}
#breadcrumb li.last {
    font-weight: bold;
    /*border-right: none;*/
}

/* ----------------------------------------------------------------- pagination */
#paginator {
    margin-bottom: 1em;
    padding-bottom: 1em;
    position: relative;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
#paginator .pages a {
    margin-right: 0.5em;
}
#paginator .next,
#paginator .previous {
    position: absolute;
    /*top: 50%;*/
    top: 0;
}
/*
#paginator .next a,
#paginator .previous a {
    -webkit-border-radius: 5px;
    background: #ddd;
    padding: 5px;
}
*/
#paginator .previous {
    left: 0;
}
#paginator .next {
    right: 0;
}

/* ----------------------------------------------------------------- comment */
#comments {
    border-top: 1px solid #ccc;
    margin-top: 2em;
    padding-top: 1em;
}
#comment-form label {
    display: block;
    font-weight: bold;
}
#comment-form p {
    margin: 0;
}
#comment-form textarea {
    float: left;
    width: 350px;
    height: 200px;
    margin-right: 1em;
}
#comment-form input[type="text"] {
    margin-bottom: 1em;
}
p.photo {
    margin-bottom: 10px;
    width: 500px;
    background: #ddd;
}
p.photo a {
    display: block;
    height: 0;
    padding-top: 100px;
    overflow: hidden;
    background-position: 50% 50%;
}