#sidebar {
    padding: 55px 0 0 10px;
    width: 490px;
}
#sidebar #random-link,
#sidebar #feeds {
    margin-top: 2em;
}
#sidebar #random-link p {
    margin-top: 0.5em;
}
#sidebar #random-link #more-links {
}

#sidebar #random-link #more-links h3 {
    margin-top: 1em;
    border: none;
}
#sidebar #feeds ul li a {
    background: url(http://media.rewinder.ca/icons/feed.png) no-repeat left 50%;
    padding-left: 16px;
}