#sidebar {
    padding: 55px 0 0 10px;
    width: 490px;
}
#sidebar #random-link {
    margin-top: 2em;
}
#sidebar #random-link p {
    margin-top: 0.5em;
}
#sidebar #random-link #more-links {
}

#sidebar #random-link #more-links h3 {
    margin-top: 1em;
    border: none;
}