.tumblelog-entry {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 1em;
    margin-bottom: 1em;
}
.tumblelog-entry h2,
.tumblelog-entry p {
    width: 80%;
}
.tumblelog-entry p.visit {
    width: 100%;
}
.tumblelog-entry p {
    line-height: 1.4em;
}
.tumblelog-entry .visit {
    text-align: right;
}
.tumblelog-entry .visit a {
    color: #ccc;
}