{% extends "base.html" %}
{% block title %}Links{% endblock %}
{% block breadcrumb %}{{ block.super }}<li><a href="{% url bookmark_home %}" title="Back to all links">Links</a></li>{% endblock %}
{% block sidebarcontent %}

{% load custom_tags %}
{% get_archive_dates delicious.Bookmark as years saved_date %}
<div id="archive-list">
<h3>Browse the Link archive</h3>
<ul>
    {% for year in years %}
    <li><a href="{% url bookmark_archive_year year=year|date:"Y" %}">{{ year|date:"Y" }}</a></li>
    {% endfor %}
</ul>
</div>

{% include "delicious/popular_tags.html" %}

{% endblock %}