{% extends "delicious/base.html" %}
{% block title %}Links: {{ year }}{% endblock %}
{% block description %}Links saved in {{ year }}{% endblock %}
{% block breadcrumb %}
{{ block.super }}
    <li><a href="{% url bookmark_archive_year year=year %}">{{ year }}</a></li>
{% endblock %}
{% load custom_tags %}
{% load threadedcommentstags %}
{% load typogrify %}

{% block content %}
<h2>Links saved in {{ year }} ({{ object_list.count }}) <a href="{% url tumblelog_archive_year year=year %}" class="visit" title="View all online activity for {{ year }}">More</a></h2>
<div id="year-archive">
{% for link in object_list %}
{% get_free_comment_count for link as comments %}
<div class="entry link">
<p class="meta"><span class="date">{% long_date link.saved_date %}</span> <span class="comments"><a href="{{ link.get_absolute_url }}#comments">{{ comments }} comment{{ comments|pluralize}}</a></span></p>
<h2><a href="{{ link.get_absolute_url }}">{% autoescape off %}{{ link.description|typogrify }}{% endautoescape %}</a></h2>
{% if link.extended_info %}
<p>{% autoescape off %}{{ link.extended_info|typogrify }}{% endautoescape %}</p>
{% endif %}
<p class="visit"><a href="{{ link.url }}" title="Visit site">Visit site</a></p>
</div>
{% endfor %}

</div>
{% endblock %}