{% extends "delicious/base.html" %}
{% block title %}Links: {{ day|date:"F d, Y" }}{% endblock %}
{% block description %}Links saved on {{ day|date:"F d, Y" }}{% endblock %}
{% block breadcrumb %}
{{ block.super }}
    <li><a href="{% url bookmark_archive_year year=day|date:"Y" %}" title="View all links saved in {{ day|date:"Y" }}">{{ day|date:"Y" }}</a></li>
    <li><a href="{% url bookmark_archive_month year=day|date:"Y", month=day|date:"m" %}" title="View all videos saved in {{ day|date:"F, Y" }}">{{ day|date:"m" }}</a></li>
    <li><a href="{% url bookmark_archive_day year=day|date:"Y", month=day|date:"m",day=day|date:"d" %}" title="View all videos saved on  {{ day|date:"F d, Y" }}">{{ day|date:"d" }}</a></li>
{% endblock %}

{% load custom_tags %}
{% load threadedcommentstags %}

{% block content %}
<h2>Links saved on {{ day|date:"F d, Y" }} ({{ object_list.count }})</h2>
<div id="day-archive">
{% for link in object_list %}
{% get_free_comment_count for link as comments %}
<div class="entry link">
<p class="meta"><span class="date">{% utc_to_eastern link.saved_date %}</span> <span class="comments"><a href="{{ link.get_absolute_url }}#comments">{{ comments }} comment{{ comments|pluralize}}</a></span></p>
<h2><a href="{{ link.get_absolute_url }}">{{ link.description }}</a></h2>
{% if link.extended_info %}
<p>{{ link.extended_info }}</p>
{% endif %}
<p class="visit"><a href="{{ link.url }}" title="Visit site">Visit site</a></p>
</div>
{% endfor %}
</div>
{% endblock %}
