{% extends "delicious/base.html" %}
{% load custom_tags %}
{% block title %}Links: {{ object.description }}{% endblock %}
{% block breadcrumb %}
{{ block.super }}
    <li><a href="{% url bookmark_archive_year year=object.saved_date|date:"Y" %}">{{ object.saved_date|date:"Y"}}</a></li>
    <li><a href="{% url bookmark_archive_month year=object.saved_date|date:"Y",month=object.saved_date|date:"m" %}">{{ object.saved_date|date:"m"}}</a></li>
    <li><a href="{% url bookmark_archive_day year=object.saved_date|date:"Y",month=object.saved_date|date:"m",day=object.saved_date|date:"d" %}">{{ object.saved_date|date:"d"}}</a></li>
{% endblock %}

{% block content %}
<div id="link-detail" class="detail">
<p class="date">{% date_format object.saved_date %}</p>
<h2>{{ object.description }}</h2>
{% if object.extended_info %}
<p>{{ object.extended_info }}</p>
{% endif %}
<p><a href="{{ object.url }}">{{ object.url }}</a></p>
</div>

{% include "tag/tags_for_object.html" %}
{% include "threadedcomments/comments_list.html" %}

{% endblock %}