{% extends "delicious/base.html" %}
{% block title %}Links: {{ month|date:"F, Y" }}{% endblock %}
{% block description %}Links saved in {{ month|date:"F Y" }}{% endblock %}
{% block breadcrumb %}
{{ block.super }}
    <li><a href="{% url bookmark_archive_year year=month|date:"Y" %}">{{ month|date:"Y" }}</a></li>
    <li><a href="{% url bookmark_archive_month year=month|date:"Y", month=month|date:"m" %}">{{ month|date:"m" }}</a></li>
{% endblock %}
{% load custom_tags %}
{% load threadedcommentstags %}
{% load typogrify %}

{% block content %}
<h2>Links saved in {{ month|date:"F Y" }} ({{ object_list.count }}) <a href="{% url tumblelog_archive_month year=month|date:"Y", month=month|date:"m" %}" class="visit" title="View all online activity for {{ month|date:"F Y" }}">More</a></h2>
<div id="month-archive">
{% for link in object_list %}
{% get_free_comment_count for link as comments %}
<div class="entry link">
<p class="meta"><span class="date">{% long_date link.saved_date %}</span> <span class="comments"><a href="{{ link.get_absolute_url }}#comments">{{ comments }} comment{{ comments|pluralize}}</a></span></p>
<h2><a href="{{ link.get_absolute_url }}">{% autoescape off %}{{ link.description|typogrify }}{% endautoescape %}</a></h2>
{% if link.image %}
<img src="{{ link.get_image_url }}" alt="{{ link.image_caption }}" width="{{ link.get_image_width }}" height="{{ link.get_image_height }}" />
{% endif %}
{% if link.extended_info %}
<p>{% autoescape off %}{{ link.extended_info|typogrify }}{% endautoescape %}{% if link.via_url %} <a href="{{ link.via_url }}">Via</a>{% endif %}</p>
{% endif %}
<p class="visit"><a href="{{ link.url }}" title="Visit site">Visit site</a></p>
</div>
{% endfor %}

</div>
{% endblock %}