{% extends "delicious/base.html" %}
{% block title %}Links: {{ object.description }}{% endblock %}
{% block breadcrumb %}
{{ block.super }}
    <li><a href="{% url bookmark_archive_year year=object.saved_date|date:"Y" %}">{{ object.saved_date|date:"Y"}}</a></li>
    <li><a href="{% url bookmark_archive_month year=object.saved_date|date:"Y",month=object.saved_date|date:"m" %}">{{ object.saved_date|date:"m"}}</a></li>
    <li><a href="{% url bookmark_archive_day year=object.saved_date|date:"Y",month=object.saved_date|date:"m",day=object.saved_date|date:"d" %}">{{ object.saved_date|date:"d"}}</a></li>
    <li class="last">{{ object.description }}</li>
{% endblock %}

{% block content %}
<h2>{{ object.description }}</h2>

{% if object.extended_info %}
<p>{{ object.extended_info }}</p>
{% endif %}
<p>Visit: <a href="{{ object.url }}">{{ object.url }}</a></p>

{% load tagging_tags %}
{% tags_for_object object as tag_list %}
<p><strong>Related tags:</strong> {% for tag in tag_list %}<a href="{% url tag_detail tag %}" title="View all items tagged '{{ tag }}'">{{ tag }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>

{% include "threadedcomments/comments_list.html" %}

{% endblock %}