{% extends "tag/base.html" %}
{% block title %}{{ block.super }}: {{ tag }}{% endblock %}
{% block breadcrumb %}{{ block.super }}<li class="last"><h2>{{ tag }}</h2></li>{% endblock %}

{% block content %}
{% if articles %}
<h3><a href="{% url blog_index %}">Blog posts</a></h3>
<ul>
{% for article in articles %}
    <li><a href="{{ article.get_absolute_url }}">{{ article }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% if photos %}
<h3><a href="{% url photo_list %}">Photos</h3>
<ul>
{% for photo in photos %}
    <li><a href="{{ photo.get_absolute_url }}"><img src="{{ photo.square_url }}" width="75" height="75" alt="{{ photo }}" /></a></li>
{% endfor %}
</ul>
{% endif %}
{% if links %}
<h3><a href="{% url bookmark_list %}">Links</a></h3>
<ul>
{% for link in links %}
    <li><a href="{{ link.get_absolute_url }}">{{ link }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% if videos %}
<h3><a href="{% url video_list %}">Videos</a></h3>
<ul>
{% for video in videos %}
    <li><a href="{{ video.get_absolute_url }}">{{ video }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}