{% extends "tag/base.html" %}
{% block body_class %}tag list{% endblock %}
{% block description %}Top {{ limit }} used tags among all links, photos, videos and blog posts at rewinder.ca{% endblock %}
{% load custom_tags %}
{% block content %}

{% get_popular_tags 200 as limit tags total_count top_count %}
<h2>Top {{ limit }} used tags among all <a href="{% url bookmark_home %}" title="Browse all links">links</a>, <a href="{% url photo_home %}" title="Browse all photos">photos</a>, <a href="{% url video_home %}" title="Browse all videos">videos</a> and <a href="{% url blog_home %}" title="Browse all blog posts">blog posts</a> of {{ total_count }} total tags</h2>
<ul class="chart">
{% for num, tag in tags %}
 <li><a href="{% url tag_detail tag %}" rel="tag">{{ tag }}</a><span class="count">{{ num }}</span><span style="width: {% widthratio num top_count 1000 %}px" class="index">({% widthratio num top_count 100 %}%)</span></a></li>
{% endfor %}
</ul>

{% endblock %}